<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="./style.css" rel="stylesheet" />

    <title>Document</title>
</head>

<body class="container">

    <nav class="navbar">
        <a class="navbar-brand" href="#">Home</a>
        <div class="nav">
            <a href="#" class="nav-link">Pricing</a>
            <a href="#" class="nav-link">Contact</a>
            <a href="#" class="nav-link">Register</a>
            <a href="#" class="nav-link">Login</a>
        </div>
    </nav>

    <div>
        <h5 class="text-muted text-center">Pricing</h5>
        <h1 class="text-center">Easily organize your work. Start free.</h1>
        <h5 class="text-muted text-center">Access our features. No credit card required.</h5>
    
        <div class="row d-flex justify-content-center">
                <div class="col-3 m-3 card">
                    <div class="card-header">
                        <h5>Personal</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-title">For individuals and small teams looking to manage their tasks.</p>
                        <p class="card-text"><span class="fw-bold">US$0</span> <br /> Free forever</p>
                        <a href="#" class="btn btn-primary mb-2">Get started</a>
        
                        <p class="card-text">Manage task and personal to-dos:</p>
                        <ul>
                            <li>Unlimited tasks</li>
                            <li>Unlimited tasks</li>
                            <li>Basic search filters</li>
                            <li>List view projects</li>
                        </ul>
                    </div>
                </div>
        
                <div class="col-3 m-3 card">
                    <div class="card-header">
                        <h5>Starter</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-title">For growing teams that need to track their projects' progress and hit deadlines.</p>
                        <p class="card-text"><span class="fw-bold">US$6.92</span> <strike class="text-muted">US$10.99</strike></p>
                        <a href="#" class="btn btn-primary mb-2">Get started</a>
        
                        <p class="card-text">Manage task and personal to-dos:</p>
                        <ul>
                            <li>Unlimited tasks</li>
                            <li>Unlimited tasks</li>
                            <li>Basic search filters</li>
                            <li>List view projects</li>
                        </ul>
                    </div>
                </div>
        
                <div class="col-3 m-3 card">
                    <div class="card-header">
                        <h5>Advanced</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-title">For companies that need to manage a portfolio of work and goals across departments.</p>
                        <p class="card-text"><span class="fw-bold">US$15.74</span> <strike class="text-muted">US$24.99</strike></p>
                        <a href="#" class="btn btn-primary mb-2">Get started</a>
        
                        <p class="card-text">Manage task and personal to-dos:</p>
                        <ul>
                            <li>Unlimited tasks</li>
                            <li>Unlimited tasks</li>
                            <li>Basic search filters</li>
                            <li>List view projects</li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>

    <footer>
        <p class="text-muted text-center">&copy; All rights reserved</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>