{% extends "./common.html" %}

{% block content%}
    <!-- Dynamic content -->
    <div class="container">
        <div class="shadow-lg bg-light border border-warning rounded-3 p-3 mx-auto my-5" style="max-width: 23%;min-height:60%">
            <h1 class="text-center my-4" style="font-family:Verdana;">Sign Up</h1>

            <div class="container">
                <form method="POST" novalidate>
                     {% csrf_token %}
                     {% comment %} {% include "./include/errors.html" %} {% endcomment %}
                     {{form.as_div}}
                    {% comment %} <input class="form-control mb-4" name="username" value="" type="text" placeholder="Username" />
                    <input class="form-control mb-4" name="email" value="" type="text" placeholder="Email" />
                    <input class="form-control mb-4" name="password" type="password" placeholder="Password" />
                    <input class="form-control mb-4" name="confirm_password" type="password"
                        placeholder="Confirm Password" /> {% endcomment %}
                    <div class="d-grid gap-2 col-4 mx-auto">
                        <button class="btn btn-success" type="submit">Register</button>
                    </div>
                </form>
                <div class="my-3">
                    <center>Have an account?
                        <a href="/login" class="text-decoration-none fw-bold">Login</a>
                    </center>
                </div>
            </div>
        </div>

    </div>

{%endblock%}

